nav{background-color:rgb(255, 255, 255);
    height:44px;
overflow=hidden;}
.nav a{ font-size:21px;
font-family:Arial;
padding:22px;
text-decoration:none;
color:black;}
.nav a:hover{background-color:rgba(190, 187, 187, 0.705);}
.nav-r{float:right;
    padding-top:5px;
    padding-bottom:10px;
color:black;
text text-decoration:none;}
body{background-image:url(back.jpg);
background-size:900px 540px;
background-repeat:no-repeat;
background-position:center;}
.back form table{margin-top:130px;}
.back form{padding:80px 70px;}
.back form table tr th{font-size:30px;
    padding-left:55px;
    padding-right:55px;
    font-family:"Rockwell";
    color:white;
    text-align:center;
    background-color: rgb(255, 48, 11);}
    table, th, td {padding:12px;
        background-color: rgb(255, 255, 255);
        border:1px solid;
        border-style: hidden;
        border-collapse: collapse;}      
     